# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Secrets and configs
config/
.streamlit/secrets.toml
.env
*.json  # optional: ignore all JSON files
config/service_account.json
.env
config/.env

# OS files
.DS_Store